@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Open+Sans:300,400,500,600,700|Lora:400,400i,700,700i&display=swap");

:root {
  --red: #ff0000;
  --red-90: rgba(255, 0, 0, 0.9);
  --red-80: rgba(255, 0, 0, 0.8);
  --blue: #0000ff;
  --blue-90: rgba(0, 0, 255, 0.9);
  --blue-80: rgba(0, 0, 255, 0.8);
  --orange: #ffa500;
  --orange-90: rgba(255, 165, 0, 0.9);
  --orange-80: rgba(255, 165, 0, 0.8);
  --powder: #fbfefb;
  --powder-90: rgba(251, 254, 251, 0.9);
  --powder-80: rgba(251, 254, 251, 0.8);
}

body {
  font-family: "Open Sans", sans-serif;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
